<!DOCTYPE html>

<html lang="ro">

    <%- include("../fragmente/head.ejs") %>

        <body>

            <%- include("../fragmente/header.ejs") %>

                <main>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae rerum, illo
                        exercitationem enim suscipit voluptates quod officiis hic blanditiis! Quae quis molestiae quos
                        voluptates consequuntur corporis cupiditate, ducimus natus!</p>
                </main>

                <%- include("../fragmente/footer.ejs") %>

        </body>

</html>