<!DOCTYPE html>
<html lang="ro">

    <%- include("../fragmente/head.ejs") %>

        <body>

            <%- include("../fragmente/header.ejs") %>

                <main>
                    <section class="content">
                        <h1>Bine ai venit la Magazin Componente PC</h1>
                        <p>
                            Bun venit pe site-ul nostru dedicat pasionaților de calculatoare! Aici vei găsi o gamă
                            variată de
                            componente și accesorii pentru PC-uri, de la procesoare performante și plăci video de ultimă
                            generație,
                            până la soluții de stocare rapide și periferice specializate pentru gaming.
                        </p>
                        <p>
                            Ne mândrim cu produsele noastre de înaltă calitate și suntem dedicați să îți oferim cele mai
                            bune
                            opțiuni pentru nevoile tale. Fie că ești în căutarea unei upgrade-uri pentru PC-ul tău sau
                            dorești să
                            construiești un sistem complet nou, echipa noastră este aici pentru a te ajuta să faci cea
                            mai bună
                            alegere.
                        </p>
                        <p>
                            În plus față de produsele noastre, oferim și servicii de consultanță pentru a te asista în
                            alegerea
                            componentelor potrivite pentru cerințele tale specifice. Suntem pasionați de tehnologie și
                            ne dorim ca
                            experiența ta în magazinul nostru să fie una plăcută și utilă.
                        </p>
                        <p>
                            Te invităm să explorezi oferta noastră și să nu eziti să ne contactezi pentru orice
                            întrebări sau
                            asistență ai nevoie. Echipa noastră este disponibilă pentru a oferi sfaturi experte și
                            soluții
                            personalizate. Vă mulțumim că ați ales Magazin Componente PC!
                        </p>
                    </section>
                </main>

                <%- include("../fragmente/footer.ejs") %>

        </body>

</html>