<footer>
    <address>
        <i class="fa-solid fa-phone"></i>&nbsp;Contactați-ne la <a href="tel:+40123456789">+40 123 456
            789</a><br>
        <i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;Vizitați-ne la <a
            href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica" target="_blank">Facultatea
            de Matematica si Informatica</a><br>
        <i class="fa-solid fa-envelope"></i>&nbsp;Trimiteți-ne un email la <a
            href="mailto:contact@magazincomponente.ro">contact@magazincomponente.ro</a><br>
    </address>
    <p><small>&copy; <time datetime="2024">2024</time> Magazin Componente PC. Toate drepturile rezervate.</small></p>
    <a href="#" class="go-up">
        <div class="arrow">🠹</div>
        <div class="tooltip">Inapoi sus</div>
    </a>
    <div id="watermark" class="print-only">Dumitru Fabian</div>
</footer>