<header>
    <nav>
        <div class="menu-bar">
        </div>
        <div class="menu-bar2">
        </div>
        <div class="menu-icon">
            <i class="fas fa-bars "></i>
        </div>
        <input id="menu-btn" type="checkbox"></input>
        <ul>
            <li>
                <a href="/index#">
                    <i class="fa-solid fa-house"></i>
                    <span class="hide-on-medium">&nbsp;&nbsp;Acasă</span>
                </a>
                <div class="nav-line"></div>
            </li>
            <li>
                <a href="/produse?tip=componente">Componente</a>
                <div class="nav-line"></div>
                <ul>
                    <li><a href="/produse?tip=componente">Procesoare</a></li>
                    <li><a href="/produse?tip=componente">Placi video</a></li>
                    <li><a href="/produse?tip=componente">Placi de baza</a></li>
                    <li><a href="/produse?tip=componente">Memorie RAM</a></li>
                    <li><a href="/produse?tip=componente">Hard disk-uri</a></li>
                    <li><a href="/produse?tip=componente">SSD-uri</a></li>
                </ul>
            </li>
            <li>
                <a href="/produse?tip=periferice">Periferice</a>
                <div class="nav-line"></div>
                <ul>
                    <li><a href="/produse?tip=periferice">Mouse</a></li>
                    <li><a href="/produse?tip=periferice">Tastaturi</a></li>
                    <li><a href="/produse?tip=periferice">Casti</a></li>
                    <li><a href="/produse?tip=periferice">Monitoare</a></li>
                </ul>
            </li>
            <li>
                <a href="/produse?tip=altele">Altele</a>
                <div class="nav-line"></div>
                <ul>
                    <li><a href="">Surse</a></li>
                    <li><a href="">Carcase</a></li>
                    <li><a href="">Coolere</a></li>
                </ul>
            </li>
            <li>
                <a href="/contact">Contact</a>
                <div class="nav-line"></div>
            </li>
            <li>
                <a href="/galerie">Galerie</a>
                <div class="nav-line"></div>
            </li>
        </ul>
        <button id="theme-toggle" type="button" class="btn-toggle" onclick="toggleDarkMode()">
            <i id="theme-icon" class=""></i>
        </button>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const themeToggleBtn = document.getElementById("theme-toggle");
            const themeIcon = document.getElementById("theme-icon");

            const savedTheme = localStorage.getItem("theme") || "light";
            document.documentElement.setAttribute("data-theme", savedTheme);
            themeIcon.className = savedTheme === "dark" ? "fas fa-moon" : "fas fa-sun";

            themeToggleBtn.addEventListener("click", () => {
                let currentTheme = document.documentElement.getAttribute("data-theme");
                let newTheme = currentTheme === "dark" ? "light" : "dark";

                document.documentElement.setAttribute("data-theme", newTheme);
                themeIcon.className = newTheme === "dark" ? "fas fa-moon" : "fas fa-sun";
                localStorage.setItem("theme", newTheme);
            });
        });
    </script>

</header>