<header>
    <nav>
        <div class="menu-bar">
        </div>
        <div class="menu-bar2">
        </div>
        <div class="menu-icon">
            <i class="fas fa-bars "></i>
        </div>
        <input id="menu-btn" type="checkbox"></input>
        <ul>
            <li>
                <a href="/index#">
                    <i class="fa-solid fa-house"></i>
                    <span class="hide-on-medium">&nbsp;&nbsp;Acasă</span>
                </a>
                <div class="nav-line"></div>
            </li>
            <li>
                <a href="/produse?tip=componente">Componente</a>
                <div class="nav-line"></div>
                <ul>
                    <li><a href="/produse?tip=componente">Procesoare</a></li>
                    <li><a href="/produse?tip=componente">Placi video</a></li>
                    <li><a href="/produse?tip=componente">Placi de baza</a></li>
                    <li><a href="/produse?tip=componente">Memorie RAM</a></li>
                    <li><a href="/produse?tip=componente">Hard disk-uri</a></li>
                    <li><a href="/produse?tip=componente">SSD-uri</a></li>
                </ul>
            </li>
            <li>
                <a href="/produse?tip=periferice">Periferice</a>
                <div class="nav-line"></div>
                <ul>
                    <li><a href="/produse?tip=periferice">Mouse</a></li>
                    <li><a href="/produse?tip=periferice">Tastaturi</a></li>
                    <li><a href="/produse?tip=periferice">Casti</a></li>
                    <li><a href="/produse?tip=periferice">Monitoare</a></li>
                </ul>
            </li>
            <li>
                <a href="/produse?tip=altele">Altele</a>
                <div class="nav-line"></div>
                <ul>
                    <li><a href="">Surse</a></li>
                    <li><a href="">Carcase</a></li>
                    <li><a href="">Coolere</a></li>
                </ul>
            </li>
            <li>
                <a href="/contact">Contact</a>
                <div class="nav-line"></div>
            </li>
            <li>
                <a href="/galerie">Galerie</a>
                <div class="nav-line"></div>
            </li>
            <div id="simulateDarkMode" class="container" data-theme="light">
                <button id="toggleDarkMode" type="button" class="btn-toggle" onclick="toggleDarkMode()">
                    DARK MODE
                </button>
            </div>
        </ul>
    </nav>

    <script>
        function toggleDarkMode() {
            const container = document.documentElement;
            const buttonDarkMode = document.getElementById('toggleDarkMode');
            const dataTheme = container.getAttribute('data-theme');

            if (dataTheme === 'dark') {
                container.setAttribute('data-theme', 'light');
                buttonDarkMode.innerHTML = 'DARK MODE';
            } else {
                container.setAttribute('data-theme', 'dark');
                buttonDarkMode.innerHTML = 'LIGHT MODE';
            }
        }
    </script>
</header>