<header>
    <nav>
        <div class="menu-bar">
        </div>
        <div class="menu-bar2">
        </div>
        <div class="menu-icon">
            <i class="fas fa-bars "></i>
        </div>
        <input id="menu-btn" type="checkbox"></input>
        <ul>
            <li>
                <a href="/index#">
                    <i class="fa-solid fa-house"></i>
                    <span class="hide-on-medium">&nbsp;&nbsp;Acasă</span>
                </a>
                <div class="nav-line"></div>
            </li>
            <li>
                <a href="/index#catalog">Catalog</a>
                <div class="nav-line"></div>
                <ul>
                    <li><a href="/index#componente">Componente PC</a></li>
                    <li><a href="/index#periferice">Periferice</a></li>
                    <li><a href="#software">Software</a></li>
                    <li><a href="#accesorii">Accesorii</a></li>
                </ul>
            </li>
            <li>
                <a href="/contact">Contact</a>
                <div class="nav-line"></div>
            </li>
            <li>
                <a href="/galerie">Galerie</a>
                <div class="nav-line"></div>
            </li>
        </ul>
    </nav>
</header>